<div id="podcast-show">
<div id="show_banner">
	<div class="wrapper_skinny">
	<h1><%= @podcast.title %></h1>
	<p class="description"><%= @podcast.description %></p>
	<% unless @podcast.itunes.blank? %>
	<a href="<%= @podcast.itunes %>" class="subscribe_link">iTunes</a>
	<% end %>
	<% unless @podcast.stitcher.blank? %>
	<a href="<%= @podcast.stitcher %>" class="subscribe_link">Sticher</a>
	<% end %>
	<% unless @podcast.podbay.blank? %>
	<a href="<%= @podcast.podbay %>" class="subscribe_link">Podbay</a>
	<% end %>		
	
	</div>

</div>

<div id="breadcrumb">
	<a href="#">
		All Podcasts
		<span>//</span>
		Sool Radio
	</a>
</div>
<div id="episodes">
	<div class="wrapper_skinny">
		<ul class="cf">
			<% @episodes.each do |episode| %>
			<li class="cf">
			<div class="episode_thumbnail">
				<%= image_tag episode.thumbnail.url(:medium) %>
			</div>
			<div class="episode_overview">
				<h2><%= link_to episode.title, podcast_episode_path(@podcast, episode) %></h2>
					<p class="description">Dan stumbles into the world of podcasting. DJ and producer Christian Hand is interviewed. Wish them both luck.</p>
			</div>
			</li>
			<% end %>
		</ul>

	</div>
</div>

				<%= will_paginate @episodes %>

<div class="wrapper_skinny">
<div id="disqus_thread">
<script>
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://spn-1.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
</div>